<table>
    <td align="center">
    <td width="200px"><a href="/characters/">Characters</a></td>
    <td width="200px"><b>Planets</b></td>
    <td width="200px"><a href="/dragonballs/">Dragonballs</a></td>
    <td width="200px"><a href="/techniques/">Techniques</a></td>
    <td width="200px"><a href="/character_techniques/">Technique Masters</a></td>
    </tr>
</table>

<h1>Current Planets:</h1>

<table>
    <thead> 
        <th>Name</th> 
        <th>Population</th>
        <th>Language</th>  
    </thead> 
    <tbody> 
        {{#each planets}} 
        <tr> 
            <td>{{name}}</td>
            <td>{{population}}</td>
            <td>{{language}}</td>
            <td><button onclick="deletePlanet({{id}})">Delete</button></td>
            <td><a href="/planets/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
    <form id="addplanet" action="/planets" method="post">
        Name: <input type="text" name="name"><br>
        Population: <input type="number" name="population"><br>
        Language: <input type="text" name="language"><br>
        <input type="submit" value="Submit">
    </form>

</table> 
